.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
    display: flex;
}

.content {
    flex: 1;
}
h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.028px;
    display: inline-block;
    margin-right: 4px;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.093px;
    display: inline-block;
    line-height: 28px;
}

.RBQNBZUJVG {
    position: fixed;
    display: flex;
    bottom: 50px;
    right: 20px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 52px;
    background-color: #fe2c55;
}
