.ZFBNXEFLPF {
    margin: 0 auto;
    width: 70%;
}
.QNEKPNAJCW {
    align-items: flex-end;
}
.QCLUGLKKCD {
    width: 100%;
}
.RJTDPMNNBR {
    width: 56px;
    height: 56px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    @media (max-width: 425px) {
        width: 40px;
        height: 40px;
    }
    img {
        display: inline-block;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-feature-settings: 'tnum';
        position: relative;
        overflow: hidden;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        line-height: 32px;
        border-radius: 50%;
        border-color: rgba(255, 255, 255, 0.12);
        border-width: 0.5px;
        cursor: pointer;
        background-color: rgba(136, 136, 136, 0.5);
    }
}
.VUFNFWGRHM {
    width: 70%;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
}
.HFNAYZPKUK {
    margin-left: 12px;
    width: 624px;
    flex: 1 1 624px;
}
.IYSRZAHLMI {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03px;
    word-break: break-word;
    margin-left: 12px;
    flex-basis: calc(100% - 30px);
    a {
        font-weight: 600;
        color: #8fbee9;
        margin-right: 5px;
    }
}
.XNNOASVYSK {
    margin-left: 70px;
    background: #000;
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
    @media (max-width: 425px) {
        margin-left: 45px;
        width: 70%;
    }
    .HWMIIVUTJQ {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 89%;
        z-index: 8;
        background-color: #20202031;
    }
    video {
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }
}
.PTQFNQXNNJ {
    border-bottom: 1px solid #cecece;
    padding: 20px 0;
}
.MDHOCQRSJO {
    position: relative;
    background-color: #fff !important;
    .OWGTYJCPOZ {
        .DBLCIGAMRJ {
            box-sizing: border-box;
            appearance: none;
            min-width: 96px;
            display: inline-flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            border-style: solid;
            border-width: 2px;
            border-radius: 2px;
            text-decoration: none;
            cursor: pointer;
            background-clip: padding-box;
            font-size: 16px;
            height: 36px;
            padding-inline: 15px;
            color: #ff3b5c;
            background-color: #ff3b5c00;
            border-color: #ff3b5c;
            top: 5px;
            position: absolute;
            right: 0;
            box-sizing: border-box;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @media (max-width: 425px) {
                right: -50px;
            }
        }
        .XHFIOPTQIG {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            opacity: 1;
            overflow: hidden;
            gap: 6px;
        }
    }
    .MNWUVUMLON {
        .DBLCIGAMRJ {
            background-color: #ff3b5c;
            color: #fff;
        }
    }
}
.NASZLCEIIT {
    margin-left: 20px;
    @media (max-width: 425px) {
        margin-top: 62%;
    }
    .NDZSKBBKNG {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        @media (max-width: 425px) {
            margin-bottom: 5px;
        }
        .UDVGGHLYTL {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: all 200ms ease-in-out 0s;
            width: 48px;
            height: 48px;
            background-color: rgba(122, 122, 122, 0.12);
            margin-top: 8px;
            margin-bottom: 6px;
            @media (max-width: 425px) {
                width: 25px;
                height: 25px;
                margin: 0;
            }
            svg {
                @media (max-width: 425px) {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        span {
            display: flex;
            justify-content: center;
            @media (max-width: 425px) {
                font-size: 12px;
            }
            &:last-child {
                @media (max-width: 425px) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.Sidebar_wrapper__B0D1R {
    position: fixed;
    width: 255px;
    left: 20px;
    height: 100vh;
    .KMJDNQTSBQ {
        display: none;
        @media (max-width: 425px) {
            display: none;
        }
    }
}
@media screen and (max-width: 1071px) {
    .DefaultLayout_container__lGZY7 {
        padding: 0;
        .Sidebar_wrapper__B0D1R {
            border-right: 1px solid rgba(255, 255, 255, 0.12);
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
            width: 65px;
            padding: 20px 8px 26px 8px;
            margin-left: 0;
            overflow: hidden;
            left: 0;
            @media (max-width: 425px) {
                width: 50px;
                padding: 20px 0px 26px 0px;
            }
            .Menu_menu-item__hVY67 span:last-child {
                display: none;
            }
            p {
                display: none;
            }
        }
    }
}

.UDYEWWFBCY {
    fill: #ff3b5c;
    .DBLCIGAMRJ {
        fill: #ff3b5c;
    }
}
.QAGRLSYAWS {
    background-color: #ff3b5c !important;
    color: #fff !important;
}
.TKRYPLLBPD {
    fill: #face15;
}
.STLDBWFCPT {
    position: relative;
    .SSAOCMVGZY {
        display: none;
    }
    &:hover {
        .SSAOCMVGZY {
            display: block;
            position: absolute;
            bottom: 93px;
            left: -25px;
            width: 280px;
            height: auto;
            background-color: #ffffff;
            box-shadow: rgb(0 0 0 / 20%) 0px 3px 10px;
            padding: 15px;
            z-index: 3;
            border-radius: 10px;
        }
        .PBXPEOBXJF {
            position: absolute;
            bottom: -24px;
            left: 33px;
            svg {
                width: 30px;
                height: 30px;
                transform: rotate(180deg);
                fill: #fff;
            }
        }
    }
    .WDFHUOVTHD {
        .GIUPLKYAEM {
            display: flex;
            margin-bottom: 8px;
            span {
                margin-left: 10px;
                font-weight: 600;
                font-size: 18px;
            }
        }
        .GIUPLKYAEM:last-child {
            margin-bottom: 0;
        }
    }
}
